fastapi
uvicorn
python-multipart
jinja2

langchain
langchain-core
langchain-community
langchain-openai
langchain-google-genai
langchain-groq

openai
google-generativeai
groq

pypdf
faiss-cpu
chromadb
sentence-transformers

tiktoken
python-dotenv

numpy
pandas

httpx
requests

pydantic

unstructured